<div class="container">
  <div id="header">
    <h1>Add Outlook Event</h1>
    <p>Simple tool to prepare Outlook invitations for you events</p>
  </div>
</div>

<app-cal-invite-editor></app-cal-invite-editor>

<router-outlet></router-outlet>

<div class="container">
  <div id="footer">
    <a href="http://www.crackingbits.com" rel="noopener" target="_blank">Cracking Bits</a> © 2022 |
    Opensource @ <a href="https://github.com/CrackingBits/add-outlook-event" rel="noopener"
      target="_blank">github.com/CrackingBits/add-outlook-event</a>
  </div>
</div>
