<div class="container">
  <form [formGroup]="eventDetailsForm" (ngSubmit)="onSubmit()" id="eventDetailsForm">
    <mat-card>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Subject</mat-label>
          <input matInput type="text" id="subject" formControlName="subject" required
            placeholder="What is the name of this event?" />
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Start date</mat-label>
          <input matInput type="datetime-local" id="startdt" formControlName="startdt" required />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>End date</mat-label>
          <input matInput type="datetime-local" id="enddt" formControlName="enddt" required />
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Location</mat-label>
          <input matInput type="text" id="location" formControlName="location"
            placeholder="What is the address where this event is happening?" />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Body</mat-label>
          <textarea matInput id="body" formControlName="body" cdkTextareaAutosize cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="10" matInput placeholder="Are there any details to share?"></textarea>
        </mat-form-field>
      </p>

      <p>
        <button mat-stroked-button type="submit" [disabled]="!eventDetailsForm.valid" class="buttons">Generate</button>
        <button mat-stroked-button type="button" class="btn btn-default" (click)="onResetForm()"
          class="buttons">Reset</button>
      </p>
    </mat-card>
    <mat-card>
      <p>Invitation URL:
        <em *ngIf="!generatedURL">Fill the details and click "Generate"</em>
        <a href="{{ generatedURL }}" target="_blank" rel="noopener">{{ generatedURL }}</a>
      </p>
      <p style="font-size: xx-small;">Share URL:
        <em *ngIf="!shareURL">...</em>
        <a href="{{ shareURL }}">{{ shareURL }}</a>
      </p>
    </mat-card>
  </form>

</div>
