.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#eventDetailsForm {
  min-width: 250px;
  max-width: 550px;
  width: 100%;
}

mat-form-field {
  width: 100%;
}

mat-card {
  word-break: break-all;
  margin-bottom: 1em;
}

.buttons {
  width: 50% !important;
  min-width: unset !important;
}

table {
  width: 100%;
}

.slider-cell {
  width: 90px;
  padding-left: 20px;
}

.enable-optional {
  z-index: 10;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
}
